*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.nav-bar{
    display: flex;
    width: 700px;
    justify-content: center;
    background-color: rgb(173, 173, 176);
    gap: 50px;
    margin: 10px;
    border-radius:30px ;
    padding: 20px;
    a{
        text-decoration: none ;
        color: rgb(52, 52, 52);
        font-size: 16px;
        font-weight: 800;

    }
}
.app{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.Container-board{
    width: 100vh;
    height: 80vh;
    /* background: #000; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Game-board{
    width: 100%;
    height: auto;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Start-board{
    height: 20%;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-board{
    width: 50%;
    height: 70vh;
    display: grid;

    gap: 15px;
    padding: 15px;

    background: #eaeaea;
    border-radius: 15px;

    box-sizing: border-box;
    div{
        border-radius: 10px;
        width: auto;
        height: auto;
        background: rgb(198, 197, 197);
    }
}

.result-board{
    width: 40%;
    /* background: yellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    div{
        background-color: rgb(210, 210, 210);
        width: 100%;
        height: 40%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.BTN-start{
    border-radius: 10px ;
    background-color: rgb(97, 97, 224);
    border :none;
    font-size: larger;
    font-weight: 700;
    color: white ;
    width: 300px;
    cursor: pointer;
    height: 100%;
}
.timer-para{
    font-size: 22px;
    font-weight: 700;
}
.result-para{
     font-size: 22px;
    font-weight: 700;
}
.different-color{
    background: red;
}